<h1>Volunteer Check-In</h1>
<.flash_group flash={@flash} />

<div id="volunteer-checkin">
  <.live_component module={VolunteerFormComponent} id={:new} count={@count} />

  <div id="volunteers" phx-update="stream">
    <.volunteer
      :for={{volunteer_id, volunteer} <- @streams.volunteers}
      id={volunteer_id}
      volunteer={volunteer}
    />
  </div>
</div>
